# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env

# Coverage directory
coverage/

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
